@use 'variables';
@use 'anidacion';


body{
    background: variables.$color-principal;
}

@mixin caja_personalizada($fondo: white, $color: variables.$color-letra){
    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0 0 2px black;
    color: $color;
    margin: 20px;
}

.caja{
    @include caja_personalizada();
}

.caja-secundaria{
    @include caja_personalizada($fondo: orange, $color: red);
}