.login-container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: block;
    text-align: center;
    border: 1px black solid;
    padding: 2rem;
    box-shadow: 0 0 12px black;

    input{
        border-radius: 4px;
        display: block;
        margin: 1rem auto;
    }

    button{
        background-color: gray;
    }
}


