@use 'mobile';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary-color: #eaa600;
$font-stack: "Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-stack;
}

h1{
    font-size: 3rem;
    font-weight: 300;
}

h4{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.9rem;
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
}

.large{
    font-size: 20px;
    font-weight: 200;
}

.bk-primary{
    background: $primary-color;
}

.btn{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    &-light{
        background-color: #fff;
        color: #000;
    }
}

#navbar{
    padding: 20px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .logo img{
            height: 50px;
        }
        ul{
            display: flex;
            list-style: none;
            li{
                margin-left: 40px;
                text-transform: uppercase;
                a{
                    color: #000
                }
            }        
        }
    }
    
}

#showcase{
    padding: 20px 0;
    color: #fff;
    .bk-primary{
        padding: 40px 80px;
        p{
            padding: 10px 0;
        }
    }
}

#features{
    .container{
        display: grid;
        padding: 20px 0;
        @media(width>=700px){
            grid-template-columns: repeat(2, 1fr);
        }
        img{
            width: 100%;
        }
    }
}

#mainfooter{
    .container{
        text-align: center;
        padding: 30px;
        .bk-dark{
            background-color: #000;
        }
    }
}