div {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 15px;
  box-shadow: 10px 11px rgba(5, 77, 141, 0.8);
}

#icono-usuario {
  width: 10%;
  float: left;
  border-radius: 50%;
}

/* Estilos para el body */
body {
  text-align: center;
  font-family: "playwrite", cursive;
  background: linear-gradient(
    to right,
    rgba(5, 77, 141, 0.8),
    rgba(240, 248, 255, 0.5)
  );
}

h3 {
  text-shadow: 10px 5px rgba(5, 77, 141, 0.8);
}

.pos-fix {
  position: fixed;
  bottom: 0;
}
